<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"> 

	<description><![CDATA[Lemmon Example Web Application]]></description>
	<display-name>lemmon-example-webapp</display-name>
	
	<servlet>
		<servlet-name>lemmon</servlet-name>
		<servlet-class>com.googlecode.lemmon.LemmonGAEServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>lemmon</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
